<div class="mt-4">
    <h5>Encryption Details (RSA)</h5>
    <ul>
        <li><strong>Credit Card Encryption Time:</strong> {{ encryption_details_rsa.credit_card_time }}</li>
        <li><strong>Credit Card Memory Used:</strong> {{ encryption_details_rsa.credit_card_memory }}</li>
        <li><strong>Expiry Date Encryption Time:</strong> {{ encryption_details_rsa.expiry_date_time }}</li>
        <li><strong>Expiry Date Memory Used:</strong> {{ encryption_details_rsa.expiry_date_memory }}</li>
        <li><strong>CVC Encryption Time:</strong> {{ encryption_details_rsa.cvc_time }}</li>
        <li><strong>CVC Memory Used:</strong> {{ encryption_details_rsa.cvc_memory }}</li>
    </ul>
</div>
